html {
    padding: 30px;
    font-family:sans-serif;
}

header {
    background-color: ba9e38;
    padding: 20px;
    border-radius: 5px;
}

#icon {
  margin-right: 0px;
  margin-left: 0px;
}

#iconos i {
  border: none;
  box-shadow: none;
  background-color: white;
  margin-top: 1.5%;
  font-size: 140%;
  padding: 0.5vw;
  border-radius: 50%;
  background-color: #e6ebf0;
}
#iconos {
  text-align: right;
  padding-right: 2vw;
}

#login {
  margin-left: 7%;
}

#logout {
  margin-left: 7%;
}
#logout:hover {
  cursor: pointer;
  background-color: #ba9e38;
  color: white;
}





a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

a.edit{
	display: block;
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 15px;
    width: 100px;
    text-align: center;
}

.edit:hover{
	background-color:	blue;
}

a.trash{
	display: block;
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 15px;
    width: 100px;
    text-align: center;
}

.trash:hover{
	background-color:	orange;
}

header a {
    padding: 15px;
    transition: 0.3s;
}



.activos-section {
	float: left;
}

.buttonCTA {
    display: block;
    background-color:#8091a5;
    border-radius: 5px;
    color: white;
    padding: 15px;
    width: 150px;
    text-align: center;
}

.buttonCTA:hover {
    
    background-color:#ba9e38;
  
}




table, th, td {
    border: 1px solid #D3D3D3;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    
    
  }

.last {
    margin-right: 0;
}

.highlighted-section {
	padding: 20px;
	background-color: #c5e6e5;
	border-radius: 8px;
	margin-top: 20px;
	width: 25%;
	float: left;
	margin-left: 75px;
}

.highlighted-section h2 {
	margin-top: 0;
}

#secondary-button {
	border: 1px solid black;
	background-color: white;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	transition: 0.2s;
	cursor: pointer;
}

#secondary-button:hover {
	border: 1px solid black;
	background-color: black;
	color: white;
}

select {
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	width: 300px;
	padding: 15px;
}




